<template>
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col" class="text-right">
            <router-link class="btn btn-light btn-sm" :to="{ path:'crear' }" append>
              <i class="fas fa-plus"></i>
            </router-link>
            <button class="btn btn-light btn-sm" @click="getItems()">
              <i class="fas fa-sync"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data,index) in items" :key="index">
          <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>{{data.id}}</router-link>
          <router-link tag="td" scope="row" :to="{ path:data.id.toString() }" append>{{data.name}}</router-link>
          <router-link tag="td" scope="row" :to="{ path:data.id.toString() }" append>{{data.email}}</router-link>
          <td class="text-right">
            <router-link :to="{ path:data.id.toString() }" class="btn btn-primary btn-sm" append>
              <i class="fas fa-edit"></i>
            </router-link>
            <button class="btn btn-danger btn-sm" @click="deleteItem(data,index)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: []
    };
  },
  methods: {
    async getItems() {
      this.items = [];
      let [err, items] = await Util.fetch({ url: "/api/users" });
      if (items) {
        this.items = items;
      }
    },
    async deleteItem(data, index) {
      let [err] = await Util.fetch({
        url: `/api/users/${data.id}`,
        method: "delete"
      });
      if (!err) {
        this.items.splice(index, 1);
      }
    }
  },
  beforeMount() {
    this.getItems();
  }
};
</script>