<template>
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" data-dismiss="modal" v-if="isModal">
        <span>&times;</span>
      </button>
      <h2 class="card-title">{{ isUpdate ? 'Editar' : 'Registrar'}}</h2>
      <form v-on:submit.prevent="saveOrUpdate()">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" v-model="item.name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" v-model="item.email" required>
        </div>
        <div class="form-group" v-if="!isUpdate">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            v-model="item.password"
            required
          >
        </div>
        <div class="form-group" v-if="!isUpdate">
          <label for="c_password">Confirmar Password</label>
          <input
            type="password"
            class="form-control"
            id="c_password"
            v-model="item.c_password"
            required
          >
        </div>
        <div class="form-check" v-for="(data,index) in permissions" :key="'permission-'+index">
          <label class="form-check-label">
            <input
              type="checkbox"
              class="form-check-input"
              v-model="data.has_permission"
              @change="data.has_permission ? addPermission(data) : deletePermission(data)"
            >
            {{data.description}}
          </label>
        </div>
        <div class="text-right">
          <router-link :to="{ path:'/usuarios' }" class="btn btn-warning" v-if="!isModal">Cancelar</router-link>
          <button type="button" class="btn btn-warning" v-if="isModal" data-dismiss="modal">Cancelar</button>
          <button
            type="submit"
            class="btn"
            :class="{'btn-success': !isUpdate, 'btn-primary': isUpdate}"
          >Guardar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isModal", "modalId", "updating"],
  data() {
    return {
      isUpdate:
        this.updating === undefined
          ? this.$route.params.id !== "crear"
          : this.updating,
      item: { permissions: [] },
      permissions: []
    };
  },
  methods: {
    async addPermission(permission) {
      if (this.isUpdate) {
        let [err, res] = await Util.fetch({
          url: "/api/user_permissions",
          method: "post",
          data: { user_id: this.item.id, permission_id: permission.id }
        });
        permission.has_permission = true;
        permission.permission_id = res.data.id;
      }
    },
    async deletePermission(permission) {
      if (this.isUpdate) {
        let [err, res] = await Util.fetch({
          url: `/api/user_permissions/${permission.permission_id}`,
          method: "delete"
        });
        permission.has_permission = false;
        permission.permission_id = null;
      }
    },
    saveOrUpdate() {
      this.isUpdate ? this.update() : this.save();
    },
    async update() {
      let [err, res] = await Util.fetch({
        url: `/api/users/${this.item.id}`,
        method: "put",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/usuarios");
        else {
          $(`#${this.modalId}`).modal("hide");
          this.$emit("updated");
        }
      }
    },
    async save() {
      if (
        this.item.password !== this.item.c_password ||
        this.item.password.length <= 0
      ) {
        this.password = "";
        this.password_confirmation = "";
        return alert("Las contraseñas no coinciden");
      }
      this.item.permissions = [];
      this.permissions.forEach(permission => {
        if (permission.has_permission) {
          this.item.permissions.push({ permission_id: permission.id });
        }
      });
      let [err, res] = await Util.fetch({
        url: "/api/users",
        method: "post",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/usuarios");
        else {
          $(`#${this.modalId}`).modal("hide");
          this.$emit("created");
        }
      }
    }
  },
  async beforeMount() {
    let vm = this;
    let [, permissions] = await Util.fetch({ url: "/api/permissions" });
    if (permissions) this.permissions = permissions;
    if (this.isUpdate) {
      let [err, item] = await Util.fetch({
        url: `/api/users/${this.$route.params.id}`
      });
      item.user_permissions.forEach(permission => {
        let item = vm.permissions.find(
          item => item.id == permission.permission_id
        );
        item.has_permission = true;
        item.permission_id = permission.id;
      });
      this.item = item;
    }
  }
};
</script>