<template>
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" data-dismiss="modal" v-if="isModal">
        <span>&times;</span>
      </button>
      <h2 class="card-title">{{ isUpdate ? 'Editar' : 'Registrar'}}</h2>
      <form v-on:submit.prevent="saveOrUpdate()">
        <div class="form-group">
          <label for="number">Nombre</label>
          <input type="text" class="form-control" id="number" v-model="item.number" required>
        </div>
        <div class="form-group">
          <label for="location">Ubicacion</label>
          <button class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-target="#show-map" @click="context.clearRect(0, 0, canvas.width, canvas.height)">
            Ver en Mapa
          </button>
          <textarea class="form-control" id="location" v-model="item.location" required></textarea>
        </div>
        <div class="form-group">
          <label for="territory_id">Territorio</label>
          <select class="form-control" id="territory_id" v-model="item.territory_id">
            <option value="">Selecciona un Territorio</option>
            <option v-for="data in territories" :key="'territory-'+data.id" :value="data.id">{{data.number}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="comments">Observaciones</label>
          <textarea class="form-control" id="comments" v-model="item.comments"></textarea>
        </div>
        <div class="text-right">
          <router-link
            :to="{ path:'/gestion/manzanas' }"
            class="btn btn-warning"
            v-if="!isModal"
          >Cancelar</router-link>
          <button type="button" class="btn btn-warning" v-if="isModal" data-dismiss="modal">Cancelar</button>
          <button
            type="submit"
            class="btn"
            :class="{'btn-success': !isUpdate, 'btn-primary': isUpdate}"
          >Guardar</button>
        </div>
      </form>
    </div>
    <div class="modal fade" id="show-map" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <div class="overflow-container">
              <div class="img-overlay-wrap">
                <img src="/img/territorio-min.png">
                <svg viewBox="0 0 800 510">
                  <polygon :points="item.location" fill-opacity="0.85"></polygon>
                </svg>
                <canvas id="imgCanvas" @click="draw"></canvas>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-warning" @click="clearMap()">Limpiar</button>
            <button class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isModal", "modalId", "updating"],
  data() {
    return {
      canvas: null,
      context: null,
      isUpdate:
        this.updating === undefined
          ? this.$route.params.id !== "crear"
          : this.updating,
      item: {
        territory_id: "",
        location: ""
      },
      territories: []
    };
  },
  methods: {
    clearMap() {
      this.item.location = '';
      this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
    },
    getMousePos(canvas, evt) {
        const rect = canvas.getBoundingClientRect();
        return {
          x: evt.clientX - rect.left,
          y: evt.clientY - rect.top
        };
    },
    draw(evt) {
      const pos = this.getMousePos(this.canvas, evt);
      this.item.location += pos.x+','+pos.y+' ';
      this.context.fillStyle = "#000000";
      this.context.fillRect (pos.x-1, pos.y-1, 2, 2);
    },
    saveOrUpdate() {
      this.isUpdate ? this.update() : this.save();
    },
    async update() {
      let [err, res] = await Util.fetch({
        url: `/api/blocks/${this.item.id}`,
        method: "put",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/gestion/manzanas");
        else {
          this.item.number = "";
          this.item.location = "";
          this.item.comments = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("updated");
        }
      }
    },
    async save() {
      let [err, res] = await Util.fetch({
        url: "/api/blocks",
        method: "post",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/gestion/manzanas");
        else {
          this.item.number = "";
          this.item.location = "";
          this.item.comments = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("created");
        }
      }
    }
  },
  mounted(){
    this.canvas = document.getElementById("imgCanvas");
    this.context = this.canvas.getContext("2d");
    this.canvas.width  = 800;
    this.canvas.height = 510;
  },
  async beforeMount() {
    let [, territories] = await Util.fetch({ url: '/api/territories'});
    if(territories) this.territories = territories;
    if (this.isUpdate) {
      let [err, item] = await Util.fetch({
        url: `/api/blocks/${this.$route.params.id}`
      });
      this.item = item;
    }
  }
};
</script>
<style scoped>
.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img {
  /* <= optional, for responsiveness */
  display: block;
  width: 800px;
  /* max-width: 100%; */
  /* height: auto; */
}
.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}
canvas{
  position: absolute;
  top: 0;
}
.overflow-container{
  width: 100%;
  overflow: auto;
}
</style>