<template>
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" data-dismiss="modal" v-if="isModal">
        <span>&times;</span>
      </button>
      <h2 class="card-title">{{ isUpdate ? 'Editar' : 'Registrar'}}</h2>
      <form v-on:submit.prevent="saveOrUpdate()">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" v-model="item.name" required>
        </div>
        <div class="form-group">
          <label for="group_id">Grupo</label>
          <select class="form-control" id="group_id" v-model="item.group_id">
            <option value="">Selecciona un grupo</option>
            <option
              v-for="data in groups"
              :key="'group-'+data.id"
              :value="data.id"
            >{{data.number}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="status">Estatus</label>
          <select class="form-control" id="status" v-model="item.status">
            <option value="">Selecciona un estatus</option>
            <option value="1">Activos</option>
            <option value="0">Inactivos</option>
            <option value="2">Disciplinados</option>
            <option value="3">Cambio de Congregación</option>
          </select>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" v-model="item.elder">Anciano
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" v-model="item.ministerial">Ministerial
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" v-model="item.regular_pioneer">Precursor Regular
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" v-model="item.auxiliar_pioneer">Precursor Auxiliar
          </label>
        </div>
        <div class="text-right">
          <router-link
            :to="{ path:'/publicadores' }"
            class="btn btn-warning"
            v-if="!isModal"
          >Cancelar</router-link>
          <button type="button" class="btn btn-warning" v-if="isModal" data-dismiss="modal">Cancelar</button>
          <button
            type="submit"
            class="btn"
            :class="{'btn-success': !isUpdate, 'btn-primary': isUpdate}"
          >Guardar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isModal", "modalId", "updating"],
  data() {
    return {
      isUpdate:
        this.updating === undefined
          ? this.$route.params.id !== "crear"
          : this.updating,
      item: { status: '1', group_id: "" },
      groups: []
    };
  },
  methods: {
    saveOrUpdate() {
      this.isUpdate ? this.update() : this.save();
    },
    async update() {
      let [err, res] = await Util.fetch({
        url: `/api/preachers/${this.item.id}`,
        method: "put",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/publicadores");
        else {
          this.item.number = "";
          this.item.location = "";
          this.item.comments = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("updated");
        }
      }
    },
    async save() {
      let [err, res] = await Util.fetch({
        url: "/api/preachers",
        method: "post",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/publicadores");
        else {
          this.item.number = "";
          this.item.location = "";
          this.item.comments = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("created");
        }
      }
    }
  },
  async beforeMount() {
    let [, groups] = await Util.fetch({ url: "/api/groups" });
    if (groups) this.groups = groups;
    if (this.isUpdate) {
      let [err, item] = await Util.fetch({
        url: `/api/preachers/${this.$route.params.id}`
      });
      item.elder = item.elder == 1;
      item.ministerial = item.ministerial == 1;
      item.regular_pioneer = item.regular_pioneer == 1;
      item.auxiliar_pioneer = item.auxiliar_pioneer == 1;
      this.item = item;
    }
  }
};
</script>