<template>
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Publicador</th>
          <th scope="col" class="text-center">Grupo</th>
          <th scope="col" class="text-center">Anciano</th>
          <th scope="col" class="text-center">Ministerial</th>
          <th scope="col" class="text-center">Regular</th>
          <th scope="col" class="text-center">Auxiliar</th>
          <th scope="col" class="text-center">Estatus</th>
          <th scope="col" class="text-right">
            <router-link class="btn btn-light btn-sm" :to="{ path:'crear' }" append>
              <i class="fas fa-plus"></i>
            </router-link>
            <button class="btn btn-light btn-sm" @click="getItems()">
              <i class="fas fa-sync"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data,index) in items" :key="index">
          <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>{{data.id}}</router-link>
          <router-link tag="td" scope="row" :to="{ path:data.id.toString() }" append>{{data.name}}</router-link>
          <router-link
            class="text-center"
            tag="td"
            scope="row"
            :to="{ path:data.id.toString() }"
            append
          >{{data.group ? data.group.number : ''}}</router-link>
          <router-link
            class="text-center"
            tag="td"
            scope="row"
            :to="{ path:data.id.toString() }"
            append
          >{{data.elder == 1 ? 'Si' : 'No'}}</router-link>
          <router-link
            class="text-center"
            tag="td"
            scope="row"
            :to="{ path:data.id.toString() }"
            append
          >{{data.ministerial == 1 ? 'Si' : 'No'}}</router-link>
          <router-link
            class="text-center"
            tag="td"
            scope="row"
            :to="{ path:data.id.toString() }"
            append
          >{{data.regular_pioneer == 1 ? 'Si' : 'No'}}</router-link>
          <router-link
            class="text-center"
            tag="td"
            scope="row"
            :to="{ path:data.id.toString() }"
            append
          >{{data.auxiliar_pioneer == 1 ? 'Si' : 'No'}}</router-link>
          <router-link
            class="text-center"
            tag="td"
            scope="row"
            :to="{ path:data.id.toString() }"
            append
          >{{getStatus(data.status)}}</router-link>
          <td class="text-right">
            <router-link :to="{ path:data.id.toString() }" class="btn btn-primary btn-sm" append>
              <i class="fas fa-edit"></i>
            </router-link>
            <button class="btn btn-danger btn-sm" @click="deleteItem(data,index)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: []
    };
  },
  methods: {
    getStatus(status) {
      if (status == "3") return "Cambio de Cong.";
      else if (status == "2") return "Disciplinados";
      else if (status == "0") return "Inactivos";
      return "Activos";
    },
    async getItems() {
      this.items = [];
      let [err, items] = await Util.fetch({ url: "/api/preachers" });
      if (items) {
        this.items = items;
      }
    },
    async deleteItem(data, index) {
      let [err] = await Util.fetch({
        url: `/api/preachers/${data.id}`,
        method: "delete"
      });
      if (!err) {
        this.items.splice(index, 1);
      }
    }
  },
  beforeMount() {
    this.getItems();
  }
};
</script>