<template>
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" data-dismiss="modal" v-if="isModal">
        <span>&times;</span>
      </button>
      <h2 class="card-title">{{ isUpdate ? 'Editar' : 'Registrar'}}</h2>
      <form v-on:submit.prevent="saveOrUpdate()">
        <div class="row">
          <div class="form-group col-6">
            <label for="month">Mes</label>
            <select class="form-control" id="month" v-model="item.month" required>
              <option v-for="(data, index) in months" :key="'month-'+index" :value="index+1">{{data}}</option>
            </select>
          </div>
          <div class="form-group col-6">
            <label for="year">Año</label>
            <input type="number" class="form-control" id="year" v-model="item.year">
          </div>
        </div>
        <div class="form-group">
          <label for="meeting">Reunion</label>
          <select class="form-control" id="meeting" v-model="item.meeting" required>
            <option value="">Selecciona una reunion</option>
            <option value="1">Entre semana</option>
            <option value="2">Fin de semana</option>
          </select>
        </div>
        <div class="form-group">
          <label for="week_1">Semana 1</label>
          <input type="number" class="form-control" id="week_1" v-model="item.week_1">
        </div>
        <div class="form-group">
          <label for="week_2">Semana 2</label>
          <input type="number" class="form-control" id="week_2" v-model="item.week_2">
        </div>
        <div class="form-group">
          <label for="week_3">Semana 3</label>
          <input type="number" class="form-control" id="week_3" v-model="item.week_3">
        </div>
        <div class="form-group">
          <label for="week_4">Semana 4</label>
          <input type="number" class="form-control" id="week_4" v-model="item.week_4">
        </div>
        <div class="form-group">
          <label for="week_5">Semana 5</label>
          <input type="number" class="form-control" id="week_5" v-model="item.week_5">
        </div>
        <div class="text-right">
          <router-link
            :to="{ path:'/reporte/asistencia' }"
            class="btn btn-warning"
            v-if="!isModal"
          >Cancelar</router-link>
          <button type="button" class="btn btn-warning" v-if="isModal" data-dismiss="modal">Cancelar</button>
          <button
            type="submit"
            class="btn"
            :class="{'btn-success': !isUpdate, 'btn-primary': isUpdate}"
          >Guardar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isModal", "modalId", "updating"],
  data() {
    return {
      months: [
        "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
        "Julio", "Septiembre", "Agosto", "Octubre", "Noviembre", "Diciembre"
      ],
      isUpdate:
        this.updating === undefined
          ? this.$route.params.id !== "crear"
          : this.updating,
      item: {
        meeting: "",
        month: new Date().getMonth()+1,
        year: new Date().getFullYear()
      }
    };
  },
  methods: {
    saveOrUpdate() {
      this.isUpdate ? this.update() : this.save();
    },
    async update() {
      let [err, res] = await Util.fetch({
        url: `/api/assistance_reports/${this.item.id}`,
        method: "put",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/reporte/asistencia");
        else {
          this.item.number = "";
          this.item.location = "";
          this.item.comments = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("updated");
        }
      }
    },
    async save() {
      this.item.date = `${this.item.year}-${this.item.month < 10 ? '0'+this.item.month : this.item.month}-01`;
      let [err, res] = await Util.fetch({
        url: "/api/assistance_reports",
        method: "post",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/reporte/asistencia");
        else {
          this.item.number = "";
          this.item.location = "";
          this.item.comments = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("created");
        }
      }
    }
  },
  async beforeMount() {
    if (this.isUpdate) {
      let [err, item] = await Util.fetch({
        url: `/api/assistance_reports/${this.$route.params.id}`
      });
      item.month = new Date(item.date+' 00:00:00').getMonth()+1;
      item.year = new Date(item.date+' 00:00:00').getFullYear()
      this.item = item;
    }
  }
};
</script>