
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body, #app {
  height: 100% !important;
}

.error {
  color: #ff0000;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.pointer{
  cursor: pointer;
}
[type=number]{
  text-align: right;
}
.color-box{
  height: 20px;
  width: 50px;
  box-shadow: 0px 0px 4px #999;
}
.search-list{
  position: absolute;
  max-height: 300px;
  overflow: auto;
  width: 100%;
  z-index: 2;
}
div.table-responsive .table {
  th, td{
    white-space: nowrap;
  }
}

.badge{
  font-size: 14px;
  cursor: pointer;
  margin-right: 4px;
}