<template>
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" data-dismiss="modal" v-if="isModal">
        <span>&times;</span>
      </button>
      <h2 class="card-title">{{ isUpdate ? 'Editar' : 'Registrar'}}</h2>
      <form v-on:submit.prevent="saveOrUpdate()">
        <div class="form-group">
          <label for="number">Numero</label>
          <input type="text" class="form-control" id="number" v-model="item.number" required>
        </div>
        <div class="form-group">
          <label for="captain_1">Capitan</label>
          <select class="form-control" id="captain_1" v-model="item.captain_1">
            <option value="">Selecciona un capitan</option>
            <option
              v-for="data in preachers"
              :key="'preacher-'+data.id"
              :value="data.id"
            >{{data.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="captain_2">Auxiliar</label>
          <select class="form-control" id="captain_2" v-model="item.captain_2">
            <option value="">Selecciona un capitan</option>
            <option
              v-for="data in preachers"
              :key="'preacher-'+data.id"
              :value="data.id"
            >{{data.name}}</option>
          </select>
        </div>
        <div class="text-right">
          <router-link
            :to="{ path:'/gestion/grupos' }"
            class="btn btn-warning"
            v-if="!isModal"
          >Cancelar</router-link>
          <button type="button" class="btn btn-warning" v-if="isModal" data-dismiss="modal">Cancelar</button>
          <button
            type="submit"
            class="btn"
            :class="{'btn-success': !isUpdate, 'btn-primary': isUpdate}"
          >Guardar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isModal", "modalId", "updating"],
  data() {
    return {
      isUpdate:
        this.updating === undefined
          ? this.$route.params.id !== "crear"
          : this.updating,
      item: {
        captain_1: "",
        captain_2: ""
      },
      preachers: []
    };
  },
  methods: {
    saveOrUpdate() {
      this.isUpdate ? this.update() : this.save();
    },
    async update() {
      let [err, res] = await Util.fetch({
        url: `/api/groups/${this.item.id}`,
        method: "put",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/gestion/grupos");
        else {
          this.item.number = "";
          this.item.location = "";
          this.item.comments = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("updated");
        }
      }
    },
    async save() {
      let [err, res] = await Util.fetch({
        url: "/api/groups",
        method: "post",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/gestion/grupos");
        else {
          this.item.number = "";
          this.item.location = "";
          this.item.comments = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("created");
        }
      }
    }
  },
  async beforeMount() {
    let [, preachers] = await Util.fetch({ url: "/api/preachers", params:{
        search: {
          filters: [
            {field:'status',logic:'!=',value:'3'}
          ]
        }
      }
    });
    if (preachers) this.preachers = preachers;
    if (this.isUpdate) {
      let [err, item] = await Util.fetch({
        url: `/api/groups/${this.$route.params.id}`
      });
      this.item = item;
    }
  }
};
</script>