<template>
  <div>
    <h4>Filtros</h4>
    <form @submit.prevent="addFilter(filter.field, logic, value)">
      <div class="row">
        <div class="form-group col-12 col-md-4">
          <label for="field">Campo</label>
          <select class="form-control" id="field" v-model="filter" required>
            <option value>Selecciona un campo</option>
            <option
              v-for="(data,index) in filters"
              :key="'filtro'+index"
              :value="data"
            >{{data.label}}</option>
          </select>
        </div>
        <div class="form-group col-12 col-md-4" v-if="filter.allowed_logics">
          <label for="logic">Filtro</label>
          <select class="form-control" id="logic" v-model="logic">
            <option value>Selecciona un valor</option>
            <option
              v-for="(data,index) in filter.allowed_logics"
              :key="'logic'+index"
              :value="data.logic"
            >{{data.label}}</option>
          </select>
        </div>
        <div class="form-group col-12 col-md-4" v-if="filter.field">
          <label for="value">Valor</label>
          <select class="form-control" id="value" v-model="value" required v-if="filter.values">
            <option value>Selecciona un valor</option>
            <option
              v-for="(data,index) in filter.values"
              :key="'value'+index"
              :value="data.value"
            >{{data.label}}</option>
          </select>
          <input
            :type="filter.type? filter.type:'text'"
            class="form-control"
            id="value"
            v-model="value"
            required
            v-if="!filter.values"
          >
        </div>
        <div class="form-group col-12 text-center">
          <button
            type="button"
            class="btn btn-warning"
            data-toggle="modal"
            data-target="#service-reports"
            v-if="service_reports.length"
          >Pendientes</button>
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-plus"></i> Filtro
          </button>
          <button type="button" class="btn btn-dark" @click="getItems()">
            <i class="fas fa-search"></i> Buscar
          </button>
        </div>
      </div>
    </form>
    <span
      class="badge badge-pill badge-dark"
      v-for="(data,index) in params.search.filters"
      :key="'filter-'+index"
      @click="deleteFilter(index)"
    >
      {{getLabel(data)}}{{getLogicAndValue(data)}}
      <b>&times;</b>
    </span>
    <div class="row">
      <p class="col-12 col-sm-7">
        <b>Total de Registros: {{total}}</b>
        (mostrando del {{from}} al {{to}})
      </p>
      <div class="col-12 col-sm-5">
        <div
          class="btn-group float-right"
          role="group"
          aria-label="Button group with nested dropdown"
        >
          <button
            style="margin-top:31px"
            type="button"
            class="btn btn-dark"
            @click="getItems(current_page-1)"
            v-if="current_page != 1"
          >
            <i class="fas fa-arrow-left"></i>
          </button>
          <div>
            <label for="paginate">Cantidad</label>
            <select class="form-control" id="paginate" v-model="paginate" @change="getItems()">
              <option>10</option>
              <option>25</option>
              <option>50</option>
              <option>100</option>
            </select>
          </div>
          <div>
            <label for="page">Pagina</label>
            <select
              class="form-control"
              id="page"
              v-model="current_page"
              @change="getItems(current_page)"
            >
              <option v-for="page in pages" :key="'page-'+page" :value="page">{{page}}</option>
            </select>
          </div>
          <button
            style="margin-top:31px"
            type="button"
            class="btn btn-dark"
            @click="getItems(current_page+1)"
            v-if="current_page != last_page"
          >
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Publicador</th>
            <th scope="col">Grupo</th>
            <th scope="col" class="text-center">Horas</th>
            <th scope="col" class="text-center">Publicaciones</th>
            <th scope="col" class="text-center">Videos</th>
            <th scope="col" class="text-center">Revisitas</th>
            <th scope="col" class="text-center">Estudios</th>
            <th scope="col" class="text-center">Capturó</th>
            <th scope="col" class="text-right">
              <router-link class="btn btn-light btn-sm" :to="{ path:'crear' }" append>
                <i class="fas fa-plus"></i>
              </router-link>
              <button class="btn btn-light btn-sm" @click="getItems()">
                <i class="fas fa-sync"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(data,index) in items" :key="index">
            <router-link tag="th" scope="row" :to="{ path:data.id.toString() }" append>{{data.id}}</router-link>
            <router-link
              tag="td"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{getMonth(data.date)}}/{{getYear(data.date)}}</router-link>
            <router-link
              tag="td"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{data.preacher.name}}</router-link>
            <router-link
              tag="td"
              class="text-center"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{data.preacher.group ? data.preacher.group.number : ''}}</router-link>
            <router-link
              tag="td"
              class="text-center"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{getTime(data.hours)}}:{{getTime(data.minutes)}}</router-link>
            <router-link
              tag="td"
              class="text-center"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{data.publications}}</router-link>
            <router-link
              tag="td"
              class="text-center"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{data.videos}}</router-link>
            <router-link
              tag="td"
              class="text-center"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{data.visits}}</router-link>
            <router-link
              tag="td"
              class="text-center"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{data.studies}}</router-link>
            <router-link
              tag="td"
              class="text-center"
              scope="row"
              :to="{ path:data.id.toString() }"
              append
            >{{data.user.name}}</router-link>
            <td class="text-right">
              <router-link :to="{ path:data.id.toString() }" class="btn btn-primary btn-sm" append>
                <i class="fas fa-list"></i>
              </router-link>
              <button class="btn btn-danger btn-sm" @click="deleteItem(data,index)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr class="info">
            <th colspan="4">Totales</th>
            <th class="text-center">{{getTime(totals.hours)}}:{{getTime(totals.minutes)}}</th>
            <th class="text-center">{{totals.publications}}</th>
            <th class="text-center">{{totals.videos}}</th>
            <th class="text-center">{{totals.visits}}</th>
            <th class="text-center">{{totals.studies}}</th>
            <td colspan="2"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <p class="col-12">
        <b>Total de Registros: {{total}}</b>
        (mostrando del {{from}} al {{to}})
      </p>
    </div>
    <div class="modal fade" id="service-reports" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <div class="table-responsive">
              <table class="table">
                <tr v-for="(data,index) in service_reports" :key="'preacher-'+index">
                  <router-link tag="td" :to="{ path:'crear', query:{ preacher_id:data.id }}" append data-dismiss="modal">
                    {{data.name}}
                  </router-link>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
let notificaciones_push;
export default {
  data() {
    return {
      from: 1,
      to: 1,
      pages: [],
      last_page: 1,
      current_page: 1,
      paginate: 10,
      page: 1,
      total: 0,
      params: {
        search: {
          filters: []
        }
      },
      logic: "",
      value: "",
      filter: "",
      filters: [],
      items: [],
      totals: {
        hours: 0,
        minutes: 0,
        publications: 0,
        visits: 0,
        studies: 0,
        videos: 0
      },
      service_reports: []
    };
  },
  methods: {
    initNotifications() {
      let vm = this;
      if (!!window.EventSource) {
        notificaciones_push = new EventSource("/api/service_reports/notify");
        notificaciones_push.onmessage = function(event) {
          let response = JSON.parse(event.data);
          if (response.service_reports){
            vm.service_reports = response.service_reports;
            if(!vm.service_reports.length) notificaciones_push.close();
          }
        };
        notificaciones_push.onerror = function(event) {
          event.target.close();
          setTimeout(function() {
            vm.initNotifications();
          }, 2000);
        };
      } else {
        alert("No hay server events");
      }
    },
    getPages() {
      this.pages = [];
      for (let x = 0; x < this.last_page; x++) {
        this.pages.push(x + 1);
      }
    },
    addFilter(field, logic, value) {
      const data = { field, value };
      const filter = this.filters.find(item => item.field == data.field);
      if (logic) {
        data.logic = logic;
      } else if (filter.logic) {
        data.logic = filter.logic;
      }
      if (data.logic) {
        const logic = filter.allowed_logics.find(
          item => item.logic == data.logic
        );
        if (logic.value) data.value = logic.value.replace("{a}", value);
      }
      this.params.search.filters.push(data);
      this.logic = "";
      this.value = "";
      this.filter = "";
    },
    deleteFilter(index) {
      this.params.search.filters.splice(index, 1);
    },
    getLabel(filter) {
      return this.filters.find(item => item.field == filter.field).label;
    },
    getLogicAndValue(data) {
      const logic = Util.getLogic(data.logic);
      const filter = this.filters.find(item => item.field == data.field);
      let value = filter.values
        ? filter.values.find(item => item.value == data.value).label
        : data.value;
      if (filter.logic) {
        if (filter.logic == "like") value = value.replace(/%/g, "");
      }
      if (filter.type) {
        if (filter.type == "date") {
          value = this.getMonth(value) + "/" + this.getYear(value);
        }
      }
      return logic.replace("{a}", value);
    },
    getTime(data) {
      return data < 10 ? "0" + data : data;
    },
    getMonth(date) {
      return Util.months[new Date(date + " 00:00:00").getMonth()];
    },
    getYear(date) {
      return new Date(date + " 00:00:00").getFullYear();
    },
    async getItems(page = 1) {
      this.items = [];
      let [err, items] = await Util.fetch({
        url: `/api/service_reports?page=${page}${
          this.paginate ? "&paginate=" + this.paginate : ""
        }`,
        params: this.params
      });
      if (items) {
        this.current_page = items.current_page;
        this.last_page = items.last_page;
        this.getPages();
        this.from = items.from;
        this.to = items.to;
        this.total = items.total;
        this.totals = items.totals;
        if (this.totals.minutes > 59) {
          this.totals.hours =
            parseInt(this.totals.hours) + parseInt(this.totals.minutes / 60);
          this.totals.minutes = this.totals.minutes % 60;
        }
        this.items = items.data;
      }
    },
    async deleteItem(data, index) {
      let [err] = await Util.fetch({
        url: `/api/service_reports/${data.id}`,
        method: "delete"
      });
      if (!err) {
        this.items.splice(index, 1);
      }
    }
  },
  async beforeMount() {
    let [, groups] = await Util.fetch({ url: "/api/groups" });
    let date = new Date();
    let month = date.getMonth() + 1;
    if(month - 1 == 0) {
      date = new Date(`${date.getFullYear()-1}-12-01 00:00:00`)
      month = 13;
    }
    this.filters = [
      {
        field: "date",
        label: "Fecha",
        type: "date",
        logic: "=",
        allowed_logics: [
          { logic: "<", label: "Menor a" },
          { logic: ">", label: "Mayor a" },
          { logic: "<=", label: "Menor o igual a" },
          { logic: ">=", label: "Mayor o igual a" },
          { logic: "=", label: "Igual a" },
          { logic: "!=", label: "Diferente a" }
        ]
      },
      {
        field: "hours",
        label: "Horas",
        logic: "=",
        allowed_logics: [
          { logic: "<", label: "Menor a" },
          { logic: ">", label: "Mayor a" },
          { logic: "<=", label: "Menor o igual a" },
          { logic: ">=", label: "Mayor o igual a" },
          { logic: "=", label: "Igual a" },
          { logic: "!=", label: "Diferente a" }
        ]
      },
      {
        field: "preachers.name",
        label: "Publicador",
        logic: "like",
        allowed_logics: [
          { logic: "like", label: "Igual a", value: "%{a}%" },
          { logic: "not like", label: "Diferente a", value: "%{a}%" }
        ]
      },
      {
        field: "preachers.elder",
        label: "Anciano",
        values: [
          { label: "Es Anciano", value: "1" },
          { label: "No es Anciano", value: "0" }
        ]
      },
      {
        field: "preachers.group_id",
        label: "Grupo",
        values: Util.getFilterValues(groups, { label: "number" })
      },
      {
        field: "preachers.ministerial",
        label: "Ministerial",
        values: [
          { label: "Es Ministerial", value: "1" },
          { label: "No es Ministerial", value: "0" }
        ]
      },
      {
        field: "preachers.regular_pionner",
        label: "Precursor Regular",
        values: [
          { label: "Es Precursor Regular", value: "1" },
          { label: "No es Precursor Regular", value: "0" }
        ]
      },
      {
        field: "service_reports.auxiliar_pionner",
        label: "Precursor Auxiliar",
        values: [
          { label: "Es Precursor Auxiliar", value: "1" },
          { label: "No es Precursor Auxiliar", value: "0" }
        ]
      }
    ];
    this.addFilter(
      "date",
      "=",
      `${date.getFullYear()}-${
        month - 1 < 10 ? "0" + (month - 1) : month - 1
      }-01`
    );
    this.getItems();
    this.initNotifications();
  },
  beforeDestroy() {
    if (notificaciones_push) notificaciones_push.close();
  }
};
</script>