<template>
  <div class="card">
    <div class="card-body">
      <button type="button" class="close" data-dismiss="modal" v-if="isModal">
        <span>&times;</span>
      </button>
      <h2 class="card-title">{{ isUpdate ? 'Editar' : 'Registrar'}}</h2>
      <form v-on:submit.prevent="saveOrUpdate()">
        <div class="form-group">
          <label for="number">Numero</label>
          <input type="text" class="form-control" id="number" v-model="item.number" required>
        </div>
        <div class="form-group" v-if="item.blocks.length">
          <label for="blocks">Manzanas</label>
          <table class="table">
            <tr>
              <th>#</th>
              <th></th>
            </tr>
            <tr v-for="data in item.blocks" :key="'block-'+data.id">
              <td>{{data.number}}</td>
            </tr>
          </table>
          <button class="btn btn-sm btn-primary" type="button" data-toggle="modal" data-target="#show-map">
            Ver ubicacion en mapa
          </button>
        </div>
        <div class="text-right">
          <router-link
            :to="{ path:'/gestion/territorios' }"
            class="btn btn-warning"
            v-if="!isModal"
          >Cancelar</router-link>
          <button type="button" class="btn btn-warning" v-if="isModal" data-dismiss="modal">Cancelar</button>
          <button
            type="submit"
            class="btn"
            :class="{'btn-success': !isUpdate, 'btn-primary': isUpdate}"
          >Guardar</button>
        </div>
      </form>
    </div>
    <div class="modal fade" id="show-map" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
            </button>
            <div class="img-overlay-wrap">
              <img src="/img/territorio-min.png">
              <svg viewBox="0 0 800 800">
                <polygon v-for="data in item.blocks" :key="'point-'+data.id" :points="data.location" fill-opacity="0.85"></polygon>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isModal", "modalId", "updating"],
  data() {
    return {
      isUpdate:
        this.updating === undefined
          ? this.$route.params.id !== "crear"
          : this.updating,
      item: {
        blocks: []
      }
    };
  },
  methods: {
    saveOrUpdate() {
      this.isUpdate ? this.update() : this.save();
    },
    async update() {
      let [err, res] = await Util.fetch({
        url: `/api/territories/${this.item.id}`,
        method: "put",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/gestion/territorios");
        else {
          this.item.number = "";
          this.item.location = "";
          this.item.comments = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("updated");
        }
      }
    },
    async save() {
      let [err, res] = await Util.fetch({
        url: "/api/territories",
        method: "post",
        data: this.item
      });
      if (!err) {
        if (!this.isModal) this.$router.push("/gestion/territorios");
        else {
          this.item.number = "";
          this.item.location = "";
          this.item.comments = "";
          $(`#${this.modalId}`).modal("hide");
          this.$emit("created");
        }
      }
    }
  },
  async beforeMount() {
    if (this.isUpdate) {
      let [err, item] = await Util.fetch({
        url: `/api/territories/${this.$route.params.id}`
      });
      this.item = item;
    }
  }
};
</script>
<style scoped>
.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img {
  /* <= optional, for responsiveness */
  display: block;
  max-width: 100%;
  height: auto;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}
</style>