<template>
  <div class="card">
    <div class="card-body">
      <div class="form-group container-fluid">
        <div class="row">
          <label for="status">Horario</label>
          <div class="col-6">
            <select id="status" class="form-control" v-model="status">
              <option value="status_1">Mañana</option>
              <option value="status_2">Tarde</option>
              <option value="status_3">Grupos</option>
            </select>
          </div>
          <button id="jarvis" class="btn btn-primary" @click="initJarvis()">
            <i class="fas fa-microphone"></i>
          </button>
        </div>
      </div>
      <div class="img-overlay-wrap">
        <img src="/img/territorio-min.png" @load="initNotifications()">
        <svg viewBox="0 0 800 800">
          <polygon
            v-for="data in items"
            :key="'block-'+data.id"
            :points="data.location"
            :fill-opacity="data[status] == 1 ? 0.85 : 0"
            @click="saveStatus(data)"
          ></polygon>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
let notificaciones_push;
export default {
  data() {
    return {
      items: [],
      status: "status_1"
    };
  },
  methods: {
    initNotifications() {
      let vm = this;
      if (!!window.EventSource) {
        notificaciones_push = new EventSource('/api/blocks/notify');
        notificaciones_push.onmessage = function(event) {
          let response = JSON.parse(event.data);
          if(response.blocks) vm.items = response.blocks;
        };
        notificaciones_push.onerror = function(event) {
          event.target.close();
          setTimeout(function() {
            vm.initNotifications();
          }, 2000);
        };
      } else {
        alert("No hay server events");
      }
    },
    getItem(number) {
      const item = this.items.find(item => item.number == number);
      if (item) this.saveStatus(item);
    },
    initJarvis() {
      let vm = this;
      Jarvis.initialize({
        lang: "es-ES",
        debug: true, // Show what recognizes in the Console
        listen: true, // Start listening after this
        speed: 0.9, // Talk a little bit slow
        mode: "normal" // This parameter is not required as it will be normal by default
      });
      Jarvis.addCommands({
        //The smart property of the command needs to be true
        smart: true,
        indexes: ["territorio *"],
        action: function(i, territorio) {
          if (territorio == "matutino") {
            vm.status = "status_1";
          } else if (territorio == "tarde") {
            vm.status = "status_2";
          } else if (territorio == "grupos") {
            vm.status = "status_3";
          }
        }
      });
      Jarvis.addCommands({
        //The smart property of the command needs to be true
        smart: true,
        indexes: [
          "manzanas *",
          "manzana *",
          "cuadras *",
          "cuadra *"
          /*"Marca las cuadras *",
            "Marca la cuadra *",
            "Marca las manzanas *",
            "Marca la manzana *",
            "Limpia las cuadras *",
            "Limpia la cuadra *",
            "Limpia las manzanas *",
            "Limpia la manzana *"*/
        ],
        action: function(i, blocks) {
          blocks = blocks.replace("y", "").split(" ");
          for (let i = 0; i < blocks.length; i++) {
            vm.getItem(blocks[i]);
          }
        }
      });
    },
    search: _.debounce(function(callback) {
      this[callback]();
    }, 300),
    getTime() {
      let date = new Date();
      if (date.getDay() == 0) {
        return "status_3";
      } else if (date.getHours() > 14) {
        return "status_2";
      }
      return "status_1";
    },
    async saveStatus(item) {
      item[this.status] =
        item[this.status] == 1
          ? (item[this.status] = 0)
          : (item[this.status] = 1);
      let [err, res] = await Util.fetch({
        url: `/api/blocks/${item.id}`,
        method: "put",
        data: item
      });
      if (err) {
        item[this.status] =
          item[this.status] == 1
            ? (item[this.status] = 0)
            : (item[this.status] = 1);
      }
    }
  },
  async beforeMount() {
    this.status = this.getTime();
  },
  beforeDestroy(){
    if(notificaciones_push) notificaciones_push.close();
  }
};
</script>
<style scoped>
#jarvis {
  border-radius: 50%;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 2;
  box-shadow: 0px 0px 4px #555;
}

@media (max-width: 971px) {
  #jarvis {
    height: 50px;
    width: 50px;
    font-size: 20px;
  }
}

.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img {
  /* <= optional, for responsiveness */
  display: block;
  max-width: 100%;
  height: auto;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}
</style>