<template>
  <div class="h-100 bg-login">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-8 col-lg-6">
          <div class="card card-default shadow">
            <div class="card-header text-center">
              <h4>{{congregation_name}}</h4>
            </div>
            <div class="card-body">
              <div class="text-center error" v-if="error">
                {{ error }}
                <br>
                <br>
              </div>
              <form @submit.prevent="handleSubmit">
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label text-md-right">E-Mail</label>
                  <div class="col-md-6">
                    <input
                      id="email"
                      type="email"
                      class="form-control"
                      v-model="email"
                      required
                      autofocus
                    >
                  </div>
                </div>
                <div class="form-group row">
                  <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                  <div class="col-md-6">
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      v-model="password"
                      required
                    >
                  </div>
                </div>
                <div class="form-group row mb-0">
                  <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import cfenv from "../config/cfenv";
export default {
  data() {
    return {
      congregation_name: cfenv.getByName("CONGREGATION_NAME"),
      error: "",
      email: "",
      password: "",
      isLoggedIn: localStorage.getItem("mapa.jwt") != null
    };
  },
  beforeMount() {
    if (this.isLoggedIn) {
      this.$router.push("/");
    }
  },
  methods: {
    login(options) {
      return axios
        .post("api/login", options)
        .then(response => {
          return [null, response.data];
        })
        .catch(err => [err]);
    },
    async handleSubmit() {
      this.error = "";
      let email = this.email;
      let password = this.password;
      let [err, login] = await this.login({ email, password });
      if (!login) {
        this.error =
          "El correo y la contraseña no coinciden con la base de datos";
        return;
      }
      let user = login.user;
      localStorage.setItem("mapa.user", JSON.stringify(user));
      localStorage.setItem("mapa.jwt", login.token);

      if (localStorage.getItem("mapa.jwt") != null) {
        axios.defaults.headers.common["Content-Type"] = "application/json";
        axios.defaults.headers.common["Authorization"] =
          "Bearer " + localStorage.getItem("mapa.jwt");
        this.$emit("loggedIn");
        if (this.$route.params.nextUrl != null) {
          this.$router.push(this.$route.params.nextUrl);
        } else {
          this.$router.push("/");
        }
      }
    }
  }
};
</script>
<style scoped>
.card-default {
  background-color: rgba(255, 255, 255, 0.9);
}
.bg-login {
  background: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  max-width: 60px;
}
</style>