<template>
  <div class="card">
    <div class="card-body">
      <div class="form-group">
          <label for="status">Horario</label>
            <select id="status" class="form-control" v-model="status">
              <option value="status_1">Mañana</option>
              <option value="status_2">Tarde</option>
              <option value="status_3">Grupos</option>
            </select>
                <router-link class="btn btn-primary" :to="{path:'/login'}">
                    Marcar Mapa
                </router-link>
        </div>
      </div>
      <div class="img-overlay-wrap">
        <img src="/img/territorio-min.png" @load="initNotifications()">
        <svg viewBox="0 0 800 800">
          <polygon
            v-for="data in items"
            :key="'block-'+data.id"
            :points="data.location"
            :fill-opacity="data[status] == 1 ? 0.85 : 0"
          ></polygon>
        </svg>
      </div>
    </div>
  </div>
</template>

<script>
let notificaciones_push;
export default {
  data() {
    return {
      items: [],
      status: "status_1",
      tries: 3
    };
  },
  methods: {
    initNotifications() {
      let vm = this;
      if (!!window.EventSource) {
        notificaciones_push = new EventSource("/api/blocks/notify");
        notificaciones_push.onmessage = function(event) {
          let response = JSON.parse(event.data);
          if (response.blocks) {
            localStorage.blocks = JSON.stringify(response.blocks);
            vm.items = response.blocks;
          }
        };
        notificaciones_push.onerror = function(event) {
          event.target.close();
          if (vm.tries > 0) {
            setTimeout(function() {
              vm.tries--;
              vm.initNotifications();
            }, 2000);
          }
        };
      } else {
        alert("No hay server events");
      }
    },
    getTime() {
      let date = new Date();
      if (date.getDay() == 0) {
        return "status_3";
      } else if (date.getHours() > 14) {
        return "status_2";
      }
      return "status_1";
    }
  },
  async beforeMount() {
    if (!localStorage.blocks) localStorage.blocks = "[]";
    this.status = this.getTime();
    this.items = JSON.parse(localStorage.blocks);
  },
  beforeDestroy() {
    if (notificaciones_push) notificaciones_push.close();
  }
};
</script>
<style scoped>
.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  transition: transform 150ms ease-in-out;
}

.img-overlay-wrap img {
  /* <= optional, for responsiveness */
  display: block;
  max-width: 100%;
  height: auto;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}
</style>