<template>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{title}}</h1>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <component :is="item" @updatedUser="updatedUser"></component>
        </div>
    </div>
</template>

<script>

import ServiceReports from '../views/ServiceReport/ServiceReports';
import ServiceReport from '../views/ServiceReport/ServiceReport';
import AssistanceReports from '../views/AssistanceReport/AssistanceReports';
import AssistanceReport from '../views/AssistanceReport/AssistanceReport';
import Preachers from '../views/Preacher/Preachers';
import Preacher from '../views/Preacher/Preacher';
import Groups from '../views/Group/Groups';
import Group from '../views/Group/Group';
import BlockReports from '../views/BlockReport/BlockReports';
import Territories from '../views/Territory/Territories';
import Territory from '../views/Territory/Territory';
import Blocks from '../views/Block/Blocks';
import Block from '../views/Block/Block';
import Users from '../views/User/Users';
import User from '../views/User/User';
import UserSettings from '../views/User/UserSettings';

export default {
    props: ['title','item'],
    components: {
        BlockReports, Territories, Territory, Blocks, Block,
        Preachers, Preacher, Groups, Group, AssistanceReports, AssistanceReport,
        ServiceReports, ServiceReport, Users, User, UserSettings
    },
    methods: {
        updatedUser(){
            this.$emit('updatedUser');
        }
    }
}
</script>