<template>
    <div class="sidebar-component h-100">
        <nav class="nav flex-column">
            <template v-for="(item,index) in menu">
                <router-link :to="item.to" class="nav-link" :key="index" @click.native="shouldToggle" v-if="item.to.path">
                    {{ item.name }}
                </router-link>
                <template v-else>
                    <a class="nav-link pointer" :key="index" @click="item.show = !item.show">
                        {{ item.name }}
                        <i class="fas fa-arrow-down float-right" v-if="!item.show"></i>
                        <i class="fas fa-arrow-up float-right" v-if="item.show"></i>
                    </a>
                    <div v-if="item.show" :key="item.to.id">
                        <router-link :to="child.to" class="nav-link pl-5" :key="key" @click.native="shouldToggle" v-for="(child,key) in item.children">
                            {{ child.name }}
                        </router-link>
                    </div>
                </template>
            </template>
            <a class="nav-link pointer" @click="logout">
                Cerrar Sesión
                <i class="fas fa-sign-out-alt float-right"></i>
            </a>
        </nav>
    </div>
</template>

<script>
    export default {
        props: ['menu','name'],
        methods: {
            logout(){
                this.toggleSidebar();
                this.$emit('logout')
            },
            toggleSidebar(){
                this.$emit('toggleSidebar');
            },
            shouldToggle(){
                if(window.innerWidth < 992) this.toggleSidebar();
            }
        }
    }
</script>
<style scoped>
.sidebar-component{
    padding-top: 5px;
}
.sidebar-component .nav-link{
    color: #fff;
    border-bottom: 1px solid #eee
}
.sidebar-component .nav-link:hover,
.sidebar-component .nav-link.active{
    color: rgb(10, 100, 162);
    background: #fff
}
</style>
